<ion-header>
  <ion-toolbar>
    <ion-title>
      Insertar producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>

        <ion-select placeholder="Selecciona un tipo" [(ngModel)]="category" name= "categoria">
          <ion-select-option value="Motor">Motor</ion-select-option>
          <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
          <ion-select-option value="Hogar">Hogar</ion-select-option>
          <ion-select-option value="Tecnologia">Tecnologia</ion-select-option>
        </ion-select>
    </ion-item>
      <!-- Formulario Motor -->
      <div *ngIf="category == 'Motor'">
        <ion-item >
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name="nombre" required ></ion-input>
        </ion-item>
        <ion-item>        
          <ion-label position="floating">Descripcion</ion-label>
          <ion-textarea name="descripcion" clearOnEdit   required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" name= "precio" clearOnEdit required> </ion-input>
        </ion-item>
        <ion-select placeholder="Selecciona un tipo" name= "tipo" required>
        <ion-select-option value="coches">Coches</ion-select-option>
        <ion-select-option value="motos">Motos</ion-select-option>
        </ion-select>
        <ion-item>
          <ion-label position="floating">Km</ion-label>
          <ion-input type="number" name= "km" clearOnEdit required> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Año</ion-label>
          <ion-datetime placeholder="Selecciona año"name="year" displayFormat="YYYY" min="1960" max="2019" required></ion-datetime>
        </ion-item>

      </div>
    <!-- Formulario Inmobiliaria -->
      <div *ngIf="category == 'Inmobiliaria'">
        <ion-item>        
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name ="nombre"  required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea name="descripcion" required></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" name= "precio" required> </ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Metros</ion-label>
        <ion-input type="number" name= "metros" required> </ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Habitaciones</ion-label>
        <ion-input type="number" name= "habitaciones" required> </ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Localidad</ion-label>
        <ion-input type="text" name= "localidad" required> </ion-input>
        </ion-item>
        
      </div>
    <!-- Formulario Hogar -->
      <div *ngIf="category == 'Hogar'">      
        <ion-item>               
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name ="nombre" [clearOnEdit]="true" required ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea name="descripcion" [clearOnEdit]="true" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" name= "precio" [clearOnEdit]="true" required> </ion-input>
        </ion-item>
      </div>
    <!-- Formulario Tecnologia -->
      <div *ngIf="category == 'Tecnologia'">
        <ion-item>                  
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name ="nombre" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea name="descripcion" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="number" name= "precio" required> </ion-input>
        </ion-item>
        <ion-select placeholder="Selecciona un tipo" name= "estado" required>
          <ion-select-option value="Nuevo">Nuevo</ion-select-option>
          <ion-select-option value="Usado">Usado</ion-select-option>
        </ion-select>
      
      </div>
    
  </ion-list> 
</ion-content>
